@{
	ViewBag.Title = "Home Page";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.angularjs.org/1.2.6/angular.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<body id="gradient">
	
	<img src="~/Content/Images/ejyle logo.png" /><span style="font-size:500%;font-family:Cambria;color:#ffffff">Ejyle</span>
	<div id="LoginForm" class="bgm">
		<div class=" col-md-6">
			<div class="container">
				<div style="font-family:Cambria;color:#ffffff" class="col-md-offset-3 ">
					<form id="login" type=get action="Instruction.cshtml">
						<div class="form-group">
							<label for="email">User Name:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input type="text" name="username" class="form-control" id="loginUserName" placeholder="Enter Username" ControlToValidate="txtUserName">
							</div>
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="password" class="form-control" id="loginPassword" placeholder="Enter password" ControlToValidate="txtPwd">
							</div>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox"> Remember me</label>
						</div>
						<button type="button" class="btn btn-success" id="logindata"><i class="glyphicon glyphicon-log-in"></i>&nbsp;LogIn</button>
						@*<label id="lblStatus" runat="server" Text="" />*@
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-6" id="regis">
			<div style="font-family:Cambria;color:#ffffff" class="col-md-offset-3">
				<div class="container">
					<form>
						<h4> New User </h4>
						<input type="button" class="btn btn-info " id="register" value="Register Here">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div style="font-family:Cambria;color:#ffffff" id="regbox" >
		<form action="" id="RegForm" name="registration">
			<h2>Registration Form</h2>
			<div class="form-group">
				<label>User Name</label>
				<input type="text" id="User_Name" name="User_Name" class="form-control" />
			</div>
			<div class="form-group">
				<label>DOB</label>
				<input type="date" id="DOB" class="form-control" />
			</div>
			<div class="form-group">
				<label>E-MailID</label>
				<input type="text" id="mailId" name="Email"class="form-control" />
				<span id="error" style="display:none;color:red;">Not an Valid email</span>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" id="Password" name="Password" class="form-control" />
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" id="Confirm_Password" class="form-control" />
				<span id="message" style="display:none;color:red;">Password Doesn't match</span>
			</div>
			<div class="form-group">
				<label>Phone Number</label>
				<input type="tel" id="Phone_no" class="form-control" />
			</div>
			<div class="form-group">
				<label>Address</label>
				<input type="text" id="Address" class="form-control" />
			</div>

			<input type="button"  class="btn validate " onclick="checkEmail()" id="submit" value="Register">

			<input type="button" class="btn btn-danger " id="cancel" value="Cancel">

		</form>
	</div>

	
</body>
<style>
	#regis {
		padding-top: 220px;
	}

	/*form {
				padding: 20px;
				border: 2px solid black;
			}*/

	.col-md-6 {
		padding-top: 140px;
	}
	#regbox {
		padding-left: 410px;
	}
	/*#loginform {
				background-image: url('../images/bgm2.jpg');
			}*/
	body {
		/*background-image: url(/content/images/bgm4.jpg);
		background-repeat: no-repeat;
		background-size: cover;*/
		background-color: #636;
	}
</style>
<script type="text/javascript">
	
	$('#mailId').on('keypress', function () {
		var re = /([A-Z0-9a-z_-][^@@])+?@@[^$#<>?]+?\.[\w]{2,4}/.test(this.value);
		if (!re) {
			$('#error').show();
			//setInterval(function () {
			//	$('#error').text("");}, 5000);
		} else {
			$('#error').hide();
		}
		});
	

	
	$('#Password, #Confirm_Password').on('keyup', function () {
		var pass = ($('#Password').val() == $('#Confirm_Password').val());
		if (!pass){
			$('#message').show();
		} else {
			$('#message').hide();
		}
	});

	



	$('#RegForm').hide();
	$('#LoginForm').show();


	$('#logindata').click(function (e) { 
	
		var User_Name = $("#loginUserName").val();
		var Password = $("#loginPassword").val();

		$.ajax({
			type: "POST",
			url: "/Home/ValidateUser",
			data: { "User_Name": User_Name, "Password": Password },
			success: function (response) {

				if (response.status == "Success") {
					var url = '@Url.Action("Instruction", "Home")';
					window.location.href = url;
				}
				else {
					toastr["error"]("Wrong Credentials!!! Invalid User Name and Password", "Error");
					//alert("Login Failed!");
					refreshData();
				}
			},
			//failure: function (response) {
			//	alert(response.responseText);
			//},
			error: function (response) {
				toastr["error"]("Invalid User Name and Password", "Error");
				//alert("Invalid UserName and Password!");
			}
		});
	});
	$('#register').click(function (e) {
		$('#RegForm').show();
		$('#LoginForm').hide();
		return;
	});
	$('#cancel').click(function (e) {
		refreshData();
		toastr["info"]("You will be redirected to Home Page!!!!!", "Information");
		//alert('You will be redirected to Home Page!!!!!');
		$('#RegForm').hide();
		$('#LoginForm').show();
		return;
	});
	$('#login').click(function (e) {
		$('#RegForm').hide();
		$('#LoginForm').show();
	});

	function refreshData() {
		$('#User_Name').val("");
		$('#DOB').val("");
		$('#mailId').val("");
		$('#Password').val("");
		$('#Confirm_Password').val("");
		$('#Phone_no').val("");
		$('#Address').val("");
		$("#loginUserName").val("");
		$("#loginPassword").val("");
	}
	$('#submit').click(function (e) {
		var User_Name = $('#User_Name').val();
		var DOB = $('#DOB').val();
		var mailId = $('#mailId').val();
		var Password = $('#Password').val();
		var Confirm_Password = $('#Confirm_Password').val();
		var Phone_no = $('#Phone_no').val();
		var Address = $('#Address').val();

		//Validations
		if (User_Name == null || User_Name == "") {
			toastr["info"]("Please fill your name", "Info");
			//alert("User Name can't be blank ");
			return false;
		}

		//if (validateEmail(mail_id)) {
		//    alert('Nice!! your Email is valid, now you can continue..');
		//}
		//else {
		//    alert('Invalid Email Address');
		//    return false;
		//}
		if (DOB == null || DOB == "") {
			toastr["info"]("Pick the date", "Info");
			//alert("Pick the date");
			return false;
		}

		
		if (mailId == null || mailId == "") {
			toastr["info"]("Enter the mail id", "Info");
			//alert("Enter the mail id");
			return false;
		}


		if (Password == null || Password == "") {
			toastr["info"]("Password can't be blank", "Info");
			//alert("Password can't be blank ");
			return false;
		}
		if (Confirm_Password == null || Confirm_Password == "") {
			toastr["info"]("ConfirmPassword can't be blank", "Info");
			//alert("ConfirmPassword can't be blank ");
			return false;
		}
		if (Phone_no == null || Phone_no == "") {
			toastr["info"]("Enter the phone number", "Info");
			//alert("enter the phone number");
			return false;
		}
		if (isNaN(Phone_no)) {
			toastr["warning"]("Phone_Number  is not a number", "Info");
			//alert("Phone_Number  is not a number ");
			return false;
		}

		if (Address == null || Address == "") {
			toastr["info"]("Address can't be blank", "Info");
			//alert("Address can't be blank");
			return false;
		}

		$.ajax({
			url: "/Home/SaveDetailedInfo",
			type: "POST",
			data: { 'User_Name': User_Name, 'DOB': DOB, 'mailId': mailId, 'Password': Password, 'Confirm_Password': Confirm_Password, 'Phone_no': Phone_no, 'Address': Address },
			success: function (data) {
				if (data.status == "Success") {
					toastr["success"]("Registration is done!!!", "Success");
					//alert("Done");
					refreshData();
					$('#RegForm').hide();
					$('#LoginForm').show();
				} else {
					toastr["info"]("Error occurs on the Database level!", "Info");
					//alert("Error occurs on the Database level!");
				}
			},
			error: function () {
				toastr["info"]("Error occurs on the Database level!", "Info");
				//alert("Error occurs on the Database level!");
				refreshData();
				//$('#RegForm').hide();
				//$('#LoginForm').show();
			}
		});
	});

</script>